html {
  font-size: 16px !important;
  color-scheme: light dark;
  background-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
}

#app {
  height: 100vh;
  background-image: url("./background/bk.jfif");
  background-position: center center; /* Centra la imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen al 50% del contenedor */
  color: white;
}

header.header-app {
  background-color: #000000e3;
  letter-spacing: 0.8em;
  font-size: 1.5vw;
}

a {
  text-decoration: none;
  color: aliceblue;
  text-shadow: 0 0 6px aliceblue;
  transition: text-shadow 0.5s ease-in-out;
}



a:hover {
  text-shadow: 0 0 14px aliceblue;
}

main {
  height: 100%;
}

main:has(section.sectionApod){
  margin-top: 60px;
  height: auto;
}

.sectionHome,
.sectionApod,
.sectionError {
  box-shadow: 0px 0px 10px 0px white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 10px;
}

input#input-date {
  margin-bottom: 5px;
  width: 100%;
  background-color: #00000000;
  color: aliceblue;
  border: 2px solid aliceblue;
}

input#input-date:hover {
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 14px aliceblue;
}

input#input-date:focus {
  background-color: #000000e5;
  border: 2px solid rgb(24, 185, 123);
  box-shadow: 0 0 14px rgb(24, 185, 123);
}

button#submit-input:hover,
button#submit-input:hover {
  box-shadow: 0 0 14px aliceblue;
}

@media (min-width:992px) {
  .sectionApod p{
    text-align: start;
    font-size: 1.5em;
  }
}